li > a > span {
    margin-right: 8px;
    border-radius: 3px;
    background: #4b5563;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 6px 12px;
    background-color: rgba(75, 85, 99, 1);
}
body {
    box-sizing: border-box;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 30px;
    width: 1400px;
}
nav {
    padding-top: 78px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
nav input {
    border-radius: 100px;
    border: 0;
    background: rgba(31, 41, 55, 0.6);
    line-height: 16px;
    padding: 12px 8px;
}
article > div:first-child {
    color: #fff;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article span {
    opacity: 0.6;
}
article > div > p + span {
    opacity: 0.6;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}

article > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}
article > div > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    opacity: 0.6;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section {
    margin: 30px;
}
p a {
    color: white;
}
a::after {
    color: white;
}
section div {
    width: 700px;
    margin: 30px auto;
}
section p {
    margin: 30px 0;
}
h1 {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 158.333% */
    width: 525px;
    text-align: center;
    margin: 0;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    gap: 50px;
}
li {
    position: relative;
    margin: 0;
    padding: 0;
}
li a {
    color: white;
    text-decoration: none;
}
ul input {
    justify-content: end;
}
main,
footer {
    display: flex;
    justify-content: center;
}
