[class*='__title'] {
    color: var(--color-text-title);
    font-weight: 600;
    line-height: 120%;
}
[class*='__description'] {
    color: var(--color-text-description);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
}
.section-primary,
.card-primary {
    background: var(--color-bg-primary);
    [class*='__title'] {
        color: var(--color-text);
    }
    [class*='__description'] {
        color: var(--color-text-opacity);
    }
}
.section__image img {
    border-radius: var(--border-8);
}
.section_sliced {
    background: url(../images/substract.svg) no-repeat 0 103% / cover;
}

.wrapper {
    max-width: var(--layout-width);
    &.small {
        max-width: var(--small-layout-width);
    }
    margin: 0 auto;
}

.small-wrapper {
    max-width: var(--small-layout-width);
    margin: 0 auto;
    padding: 0 0 80px;
}
.section-presentation {
    display: flex;
    align-items: center;
    gap: 32px 64px;
    position: relative;
}
.reverse-row {
    flex-direction: row-reverse;
}
.reverse-col {
    flex-direction: column-reverse;
}
.section-presentation__content {
    max-width: 482px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 24px;
}

.button {
    padding: 12px 32px;
    background: none;
    border: 0;
    border-radius: var(--border-32);
    line-height: 140%;
    cursor: pointer;
    font-size: 17px;
    font-weight: 800;
    transition: transform 0.2s;
}

.button_primary {
    background-color: var(--color-bg-primary);
    box-shadow: var(--shadow-size) var(--color-shadow-light);
    color: var(--color-text);
    &:hover {
        transform: translateY(-2px);
        box-shadow: var(--shadow-size) var(--color-shadow-medium);
    }
    &:active {
        transform: translateX(-4px);
    }
}
.button_light {
    background-color: var(--color-bg);
    color: var(--color-bg-primary);
    box-shadow: var(--shadow-size) var(--color-shadow-medium);
    &:hover {
        transform: translateY(-2px);
        box-shadow: var(--shadow-size) var(--color-shadow-light);
    }
    &:active {
        transform: scale(100%);
    }
}

.headling {
    text-align: center;
    margin-bottom: 40px;
}
.headling__title {
    margin-bottom: 24px;
}
.headling__description {
    font-size: 17px;
}
.card {
    border-radius: var(--border-8);
}

.card-light {
    [class*='__list'] {
        color: var(--color-text-secondary);
    }
    & hr {
        background: var(--color-text-secondary);
        opacity: 8%;
    }
    background: var(--color-bg);
    box-shadow: var(--shadow-size) var(--color-shadow-light);
}
.card-primary {
    box-shadow: var(--shadow-size) var(--color-shadow-medium);
    [class*='__list'] {
        color: var(--color-text);
    }
    & hr {
        background: var(--color-text-opacity);
        opacity: 16%;
    }
}

.tariff__wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(328px, 369px));
    gap: 24px 25px;
}

.tariff {
    padding: 48px 40px;
    > .button {
        width: 100%;
    }
}
.parameter__list {
    margin-bottom: 26px;
}
.tariff__discount {
    display: inline-block;
    padding: 4px 16px;
    background-color: var(--color-bg-action);
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-text);
    margin-bottom: 16px;
}
.bold {
    font-weight: bold;
}

.tariff__discount_hidden {
    opacity: 0;
}
.tariff__title {
    margin-bottom: 24px;
}
.tariff__description {
    font-size: 17px;
    margin-bottom: 34px;
}
.parameter__list {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    line-height: 120%;
}
.parameter__item {
    display: grid;
    grid-template-columns: auto 107px;
    justify-content: space-between;
    align-items: center;
}

.parameter__item,
.parameter__value {
    padding: 8px 0;
}

.parameter__pill {
    background: var(--color-bg-secondary);
    border-radius: var(--border-8);
    font-weight: 700;
    color: var(--color-text);
    padding: 8px 16px;
    margin-left: -16px;
    margin-right: 16px;
}

.delimeter {
    height: 1px;
    max-width: var(--layout-width);
    color: var(--color-text-secondary);
    opacity: 0.08;
    padding: 0 0 80px;
}

.title_32 {
    font-size: 32px;
}
.title_40 {
    font-size: 40px;
}
.title_48 {
    font-size: 48px;
}
/* 
.card_48x40 {
    padding: 48px 40px;
}
.card_48x24 {
    padding: 48px 24px;
}
.card_40x24 {
    padding: 40px 24px;
}
.card_16x8 {
    padding: 16px 8px;
}
.card_4x16 {
    padding: 4px 16px;
}
.card_8x0 {
    padding: 8px 0;
} */
@media (max-width: 1160px) {
    .section__image img {
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .wrapper {
        padding: 24px;
    }
    .section-presentation {
        flex-direction: column;
        align-items: center;
        .section-presentation__content {
            max-width: none;
        }
    }
}

@media (max-width: 640px) {
    [class*='__title'] {
        text-align: center;
    }
    .title_32 {
        font-size: 24px;
    }
    .title_40 {
        font-size: 32px;
    }
    .title_48 {
        font-size: 40px;
    }
}
@media (max-width: 640px) {
    [class*='__title'] {
        text-align: start;
    }
    [class*='__description'] {
        text-align: start;
    }
}
