.hero {
    overflow: visible;
    position: relative;
    display: flex;
    min-height: 480px;
}

.hero__title {
    color: var(--color-text);
    font-weight: 800;
}

.hero__left {
    display: flex;
    min-width: 452px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.hero__left img {
    margin-top: 40px;
    max-width: 334px;
    width: 100%;
}

.advantages {
    display: grid;
    padding: 80px 0;
    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
    gap: 64px;
    justify-content: space-between;
}
.advantage {
    display: flex;
    gap: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    align-items: center;
}

@media (max-width: 1280px) {
    .hero {
        padding-top: 32px;
    }
}
@media (max-width: 1000px) {
    .advantages {
        padding: 48px 24px;
    }
}
@media (max-width: 600px) {
    .advantage {
        font-size: 18px;
        gap: 24px;
    }
}

@media (max-width: 480px) {
    .hero__image {
        display: none;
    }
    .hero__title {
        font-size: 32px;
    }
    .advantages {
        margin-top: auto;
        flex-direction: column;
        gap: 32px;
        & img {
            width: 48px;
        }
    }
    .hero__left {
        min-width: auto;
        gap: 32px;

        > img {
            max-width: 264px;
            margin: 24px 0 32px;
        }
    }
}
